*{
    font-family: 'Roboto', sans-serif;
}

/* text style  */
h1, h2{
    font-family: 'Fraunces', serif;
    font: 700;
}

/* Area spacing css */
.area-top-bottom-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-top{
    padding-top: 95px;
}
.padding-minor{
    padding: 25px;
}


/* some color related class */
.color1{
    background-color: rgb(247, 242, 230);
}

/* navigation bar style code  */
.navbar .nav-link{
    padding: 20px 30px !important;

}

/* product related card */
.price-class{
    font-weight: 800;
    color: greenyellow;
}

/* image sizing class */
.image-width{
    width: 80px;
    height: auto;
}